# Ignore swap files created by editors
*.swp

# Ignore specific file types
*.txt.sqp
*.stocks_mentioned.txt

# Ignore Node.js modules
node_modules/

# Ignore SQLite database files
*.sqlite3

# Ignore virtual environment directories
virt/

# Ignore Python cache files
__pycache__/
